@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #0000ff;
    --gradient: linear-gradient(to right, #323166, #130c4b);
}

* {
    font-family: 'Montserrat', sans-serif;  
}

html, body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: var(--gradient);
    text-align: center;
    width: 100%;
    top: 0;
    border-bottom: 3px solid var(--black);
}

body {
    background: var(--gradient);
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--white);
    margin: 10px;
}

p {
    color: var(--white);
    padding: 0px 20px 0px 20px;
    text-align: center;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background: var(--gradient);
}

#picture-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 3px solid var(--black);
    border-radius: 15px;
    background: var(--gradient);
}

img {
    width: 50%;
    height: 50%;
    border: 3px solid var(--black);
    border-radius: 15px;
}

#link {
    text-decoration: none;
    color: blue;
    padding: 20px;
}

#link:hover {
    color: red;
}

#table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 0px 20px 20px 20px;
    border: 3px solid var(--black);
    border-radius: 15px;
    background: var(--gradient);
}

#table-container tr:nth-child(even) {
    background-color: #ffffff77;
}


table, td, th {
    color: var(--white);
    border: 3px solid var(--black);
}

#list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 0px 20px 0px 20px;
    border: 3px solid var(--black);
    border-radius: 15px;
    background: var(--gradient);
}

ul {
    list-style-type: none;
    padding: 0;
    color: var(--white);
}

#content-container {
    display: flex;
    flex-direction: column;
}